Brotli
certifi
charset-normalizer
colorama
contextlib2
docopt
file-read-backwards
idna
inflate64
internetarchive
jsonpatch
jsonpointer
lxml
multivolumefile
mwclient
oauthlib
poster3
pre-commit-poetry-export
psutil
py7zr
pybcj
pycryptodomex
PyMySQL
pyppmd
pywikibot
pyzstd
requests
requests-oauthlib
schema
setuptools
six
texttable
tqdm
urllib3
wikitools3
